.wrap {
  perspective: 100em;
}

.letter {
  -webkit-user-select: none;
  display: inline-block;
  border: .1em solid #CCC;
  border-radius: .3em;
  cursor: pointer;
  font-family: Helvetica, Verdana, sans-serif;
  margin: .2em;
  padding: 1em;
  text-align: center;
  width: 1em;
  transition: all .2s ease-out;
  font-size: 1.2em;
}

.letter_enabled {
  color: #CCC;
  cursor: default
}

.letter_active:hover {
  background-color: #FAFDFF;
  transform: translate3d(1px, -3px, 0);
  text-shadow: -1px 3px 0 rgba(0,0,0,.2);
}

.letter_active:active {  
  background-color: #FAC;
  box-shadow: 0px 0px 4px #ccc;
}

.timer {
  height: 1em; 
  font-size: 5em;
}

.timer_green {
  color: green;
}

.timer_yellow {
  color: gold;
}

.timer_red {
  color: crimson;
}

.answer-list {

}

.answer-list__word {
  display: inline-block;
  padding: .3em;
  letter-spacing: .1em;
}